<h1>New PKMN Team</h1>

<% if @party.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@party.errors.count, "error") %>
      prohibited this party from being saved:
    </h2>
 
    <ul>
    <% @party.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @party do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
    <h3><%= f.label :name_of_party %>:
    <%= f.text_field :name %></h3>

    <%= f.fields_for :party_pokemons do |party_pokemon_fields| %>
        <%= party_pokemon_fields.label :pokemon_name %>:
        <%= party_pokemon_fields.text_field :pokemon_name %><br><br>
        <%= party_pokemon_fields.label :nature %>: 
        <%= party_pokemon_fields.text_field :nature %><br><br>
    <% end %>
    <%= f.submit %>
<% end %>


