<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
      <div class="col-md-8">
      
        <h1><%= @current_user.party.name %></h1>

        <% @current_user.party.pokemons.each do |pkmn| %>
          <div id="<%=pkmn.id%>" class="col-md-4">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%=pkmn.pid%>.png" style="width:200px;height:200px;">
            <h1><%= pkmn.name %></h1>
            <h3>Ability:</h3>
            <li><%= pkmn.ability %></li>
            <h3>Move Set:</h3>
            <ol>
              <li>
                <%= pkmn.move1%>
              </li>
              <li>
                <%= pkmn.move2%>
              </li>
              <li>
                <%= pkmn.move3%>
              </li>
              <li>
                <%= pkmn.move4%>
              </li>
            </ol>
            <h3>PKMN Stats:</h3>
            <ol>
              <li>
                <strong>Att: </strong><%= pkmn.attack%>
              </li>
              <li>
                <strong>Def: </strong><%= pkmn.defense%>
              </li>
              <li>
                <strong>Spd: </strong><%= pkmn.speed%>
              </li>
            </ol>

          </div>
        <% end %>
      </div>

    <div class="col-md-2"></div>
    
  </div>
</div>
