<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <% num = rand(1..6) %>
      <img src="/assets/trainers/<%=num%>.png" style="width:300px;height:500px;">
    </div>

    <div class="col-lg-6">
      <h1>Edit Trainer Info:</h1>

      <%= form_for(current_user) do |f| %>
  
        <div class="field">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name %>
        </div>

        <div class="field">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name %>
        </div>

        <div class="field">
          <%= f.label :age %><br />
          <%= f.number_field :age %>
        </div>

        <div class="field">
          <%= f.label :hometown %><br />
          <%= f.text_field :hometown %>
        </div>
        
        <div class="actions">
          <%= f.submit class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

    <div class="col-lg-2">
      
    </div>

  </div>
</div>
