<div class="container" id="purple" value="pink">
  <div class="row">
    <div id="trainer" class="col-md-4">
        <h3><strong>Name: </strong><%= @user.first_name%> <%= @user.last_name %></h3>
        <h4><strong>Age: </strong><%= @user.age%><br></h4>
        <h4><strong>Hometown: </strong><%= @user.hometown%><br></h4>
        <% if current_user == @user%>
          <%= button_to "Catch a Pokemon", new_pokemon_path, :method => "get", class: "btn btn-primary"%><br>
        <% end %>
    </div>

    <div class="col-md-4">
      <% if @user != current_user %>
        <i><%= @user.first_name %>'s PKMN</i><br>
      <% end %>
      <ol>
        <% @user.caught_pokemons.each do |pkmn| %>
          <h2><li>
            <%= link_to pkmn.name, user_pokemon_path(@user, pkmn) %><br>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%=pkmn.pid%>.png" style="width:150px;height150px;"></h2>
            <% if current_user == @user%>
              <%= button_to "Release this PKMN", user_pokemon_path(@user, pkmn), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" }%>
            <% end %><br>
          </li>
        <% end %>
      </ol>
    </div>

  </div>
</div>

