<div class="container">
  <div class="row">

    <div class="col-sm-2">
    </div>

    <div class="col-lg-8">
      <h1>Kanto/Johto/Hoenn Region Pokedex</h1>

      <% @array.each do |i| %>

        <% if @pokemons.find_by(pid: i)%>
          <% if current_user.caught_pokemons.include?(@pokemons.find_by(pid: i)) %>
            <div id="<%=@pokemons.find_by(pid: i).id%>" class="row">
              <div class="col-md-6">
                <h3><%= i %>. <%= link_to @pokemons.find_by(pid: i).name, @pokemons.find_by(pid: i), class: "js-more", id: "#{@pokemons.find_by(pid: i).id}", "data-toggle": "collapse"%>
                <img src="/assets/pokeball.png" alt="pokeball" style="width:25px;height25px;">
                <br> <img src="<%= @pokemons.find_by(pid: i).image_link %>" style="width:200px;height200px;">
                 </h3>
                 </div>
            </div>
            <% else %>
               <div id="<%=@pokemons.find_by(pid: i).id%>" class="row">

                <div class="col-md-6">
                  <h3><%= i %>. <%= link_to @pokemons.find_by(pid: i).name, @pokemons.find_by(pid: i), class: "js-more", id: "#{@pokemons.find_by(pid: i).id}", "data-toggle": "collapse"%>
                  <br> <img src="<%= @pokemons.find_by(pid: i).image_link %>" style="width:200px;height200px;">
                  </h3>
                </div>


              </div>
            <% end %>
        <% else %>
          <h3><%= i %>. -- </h3>
        <% end %>
      <% end %>

      </div>
    </div>

    <div class="col-sm-2" id="pkmninfo">


    </div>

  </div>
</div>